.c-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.fc-media-screen {
    width: 100%;
    height: 40vh;
    scroll-behavior: auto;
}
.fc-view-harness {
    .fc-theme-standard {
        border: none;
        td {
            border: none;
        }
    }
    border-radius: 0.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.fc-col-header-cell-cushion {
    font-family: $font-2;
    color: rgb(78, 78, 78);
}
.fc-daygrid-day-number {
    color:  rgb(34, 34, 34);
}
.fc-daygrid-day {
    border: none !important;
    &:hover {
        cursor: pointer;
        .fc-daygrid-day-number {
            color: rgba(12, 90, 126, 0.8) !important;
        }
        background-color: rgba(73, 198, 255, 0.3);
    }
    &-top {
        justify-content: center;
        
    }
    .fc-daygrid-day-number {
        text-decoration: none;
        &:hover {
            color: black;
        }
    }
}
.fc-daygrid-day-events {
    display: none;
}
.fc-theme-standard th {
    border: none;
}
.fc-daygrid-body-unbalanced {
    height: 10px !important;
}
.fc-col-header-cell-cushion  {
    text-decoration: none !important;
    color: black;
    &:hover {
        color: rgb(34, 34, 34);
    }
}
.fc-day {
    height: 10px !important;
    &-today {
        background-color: rgba(rgb(83, 248, 124), 0.2) !important;
        .fc-daygrid-day-number {
            color: rgb(10, 161, 30) !important;
        }
    }
}

.fc-toolbar-title {
    font-family: $font-2;
    color: rgb(44, 44, 44);
    font-size: 17px !important;
}