.search-results {
    position: absolute;
    height: 40vh;
    width: 300px;
    z-index: 1000;
    top: 6.4vh;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}